on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Get GitHub App token
        id: get_actions_token
        uses: nominal-io/workflow-application-token-action@d8644a5aa546f763f73b94c762b092e088486db7 # v0.0.1
        with:
          application_id: ${{ secrets.NOMBOT_APP_ID }}
          application_private_key: ${{ secrets.NOMBOT_PRIVATE_KEY }}
          organization: "nominal-io"
          permissions: "contents:write,pull_requests:write,issues:write"
      - uses: google-github-actions/release-please-action@e4dc86ba9405554aeba3c6bb2d169500e7d3b4ee # v4
        with:
          token: ${{ steps.get_actions_token.outputs.token }}
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json
          target-branch: main
